@charset "utf-8";

@import url(common.css);

/* sub1_1 */
header nav > a:nth-child(1){
    color:#2f3972;
    font-weight: bold;
    border-bottom:2px solid #2f3972;
}
main{
    margin-top:7vw;
}
.sub1_1{
    width:100%;
    padding:50px 0;
    text-align: center;
    margin:0 auto;
    background-color: white;
    position:relative;
    margin-top:25px;
    animation:a1 2s forwards;
}

@keyframes a1{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.sub1_1 h2{
    font-size:1.5rem;
    padding-bottom:1%;
    padding-right:2%;
    white-space: pre;
}
.sub1_1 h2 b{ 
    font-family: HeadlineR-HM;
    font-size:1.8rem;
    text-align: center;
    color: #dddaf0;  
}
.sub1_1 p{
    padding:0px;
    margin:0 auto;
    width:60%;

}
.sub1_1 p b{
    color:#2f3972;
}

/* sub1_2 */
.sub1_2{
    width:80%;
    background-color:white;
    margin:25px auto;
    padding:5% 5% 15% 5%;

    position:relative;
    animation:a1 2s forwards;
}


.sub1_2 .txt2_1{
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #010101;
}

.sub1_2 .txt2_2{
    width:100%;
    position:absolute;
    right:5%;
    bottom:5%;
    font-size: 1rem;

    display:flex;
    align-items: center;
    justify-content: center;
   
}
.txt2_2 p{width:75%;text-align:right;}
.txt2_2 figure{width:25%;}
.txt2_2 figure img{width:100%;transform:scale(0.3);transform-origin:0 50%;}


/* sub1_3 */
.sub1_3{
    width:100%;
    padding:50px 0;
    text-align: center;
    margin:0 auto;
    background-color: white;
    margin-bottom:25px;

    position:relative;
    transition:1s;
    opacity: 0;
    transform:translateX(-10%);
}
.sub1_3.active{opacity: 1; transform:translateX(0%);}

.sub1_3 h2{
    font-size:1.5rem;
    padding-bottom:1%;
    padding-right:2%;
    white-space: pre;
}
.sub1_3 h2 b{ 
    font-family: HeadlineR-HM;
    font-size:1.8rem;
    text-align: center;
    color: #dddaf0;  
}

/* sub1_4 */

.sub1_4{
    width:100%; 
    padding:5% 0;
    background-color: white;  
    transition:1s;
    opacity: 0;
    transform:translateX(10%);
}
.sub1_4.active{opacity: 1; transform:translateX(0%);}

.sub1_4 h1{
    width:100%;
    text-align: center;
    padding-bottom:3%;

    font-size: 1.25rem;
    font-weight: bold;
    color: #2f3972;
}

.sub1_4 ul{
    width:60%;
    margin:0 auto;

    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sub1_4 li{
    width:290px; height:250px;
    border:1px solid #777777;
    border-radius: 15px;
    margin:5px;
    padding:2% 1%;
    background-color: #f6f7f9;

    position:relative;
}

.sub1_4 li h2{
    text-align: center;
    font-size:1.1rem;
    font-weight: bold;
}

.sub1_4 li p{
    width:90%;
    font-size:1rem;
    font-weight: normal;
    text-align:left;
    padding-top:5%;
    margin:0 auto;
}

.sub1_4 li img{
    position:absolute;
    right:5%;
    bottom:5%;
    transform:scale(0.7);
}

.sub1_4 li:hover{
    background-color:white;
    border:2px solid #2f3972;
}

.sub1_5{
    width:100%;
    padding:5%;
    text-align: center;
    margin:25px auto;
    background-color: white;
    transition:1s;
    opacity: 0;
    transform:translateX(-10%);
}
.sub1_5.active{opacity: 1; transform:translateX(0%);}
.sub1_5 h2{
    width:100%;
    text-align: center;

    font-size: 1.25rem;
    font-weight: bold;
    color: #2f3972;
}

/* sub1_6 */
.sub1_6{padding-bottom:25px;    transition:1s;
    opacity: 0;
    transform:translateX(10%);
}
.sub1_6.active{opacity: 1; transform:translateX(0%);}
.sub1_6 ul{
    width:100%;
}
.sub1_6 li{
    width:100%;
    margin:0 auto;
    padding:85px 0;
}
.sub1_6 li:first-child{padding-top:0;}
.sub1_6 .sub1_61{
    width:80%;
    margin:0 auto;
    display:flex;
    justify-content: space-around;
    align-items:center;
}
.sub1_6 li:nth-child(2n){background-color: white;}
.sub1_6 li figure{
    width:40%;
}
.sub1_6 li img{
    width:100%;
    border-radius: 30px;
    border:1px solid #f6f7f9;
    margin:0;
}
.sub1_6 .txt2_3{
    width:50%;
    padding:5% 0;
}
.sub1_6 .txt2_3 b{
    color: #000000;
    font-size: 1.25rem;
    font-weight:bold;
}

.sub1_6 .txt2_3 p{
    padding:5% 0;
    line-height: 1.42;
    font-size: 1rem;
}

.sub1_6 .txt2_3 a{
    font-size: 0.6rem;
    font-weight: bold;
    line-height: 1.5;
    text-align:center;
    color: #fff;
    background-color: #000;
    border-radius: 50px;
    padding:10px 20px;
    cursor:pointer;
}

.sub1_6 .txt2_3 a:hover{
    background-color:#2f3792;
    color:white;
    font-weight: bold;
}


/* 지도 */
/* map-1 */
.map-1{
    position:fixed;
    top:0; left:0;

    padding-top:1%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
    display:none;
}

.map-11{
    display:block;
}

.map-1 article{
    width:65%; height:85vh;
    background-color:white;
    margin:5% auto;
    padding:3%;
    overflow: auto;

    position:relative;
}
.map-1 h2{
    text-align: left;
    padding-bottom:3%;
    color:#2f3792;
    font-size: 1.25rem;
    padding-left:2%;
}
.map-1 .map{
    display:flex;
    align-items: center;
    justify-content: space-around;
    /* background-color:  #f6f7f9; */
    padding:2%;
   
}
.map-1 .map p{
    width:38%;
    padding-bottom:10%;
}
.map-1 .map figure{
    width:58%;
}
.map-1 .map figure img{
    width:100%;
}

.map-1 .map p{font-size: 0.9rem;}
.map-1 .map b{font-size:1rem;}
.map-1 .map small{
    font-size: 0.9rem;
    line-height: 1.5;
}

.map-1 a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:0;
    right:0; 
    transform:scale(0.4);
    cursor:pointer;
}

/* map-2 */

.map-2{
    position:fixed;
    top:0; left:0;

    padding-top:1%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
    display:none;
}

.map-22{
    display:block;
}

.map-2 article{
    width:65%; height:85vh;
    background-color:white;
    margin:5% auto;
    padding:3%;
    overflow: auto;

    position:relative;
}
.map-2 h2{
    text-align: left;
    padding-bottom:3%;
    color:#2f3792;
    font-size: 1.25rem;
    padding-left:2%;
}
.map-2 .map{
    display:flex;
    align-items: center;
    justify-content: space-around;
    /* background-color:  #f6f7f9; */
    padding:2%;
   
}
.map-2 .map p{
    width:38%;
    padding-bottom:10%;
}
.map-2 .map figure{
    width:58%;
}
.map-2 .map figure img{
    width:100%;
}

.map-2 .map p{font-size: 0.9rem;}
.map-2 .map b{font-size:1rem;}
.map-2 .map small{
    font-size: 0.9rem;
    line-height: 1.5;
}

.map-2 a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:0;
    right:0; 
    transform:scale(0.4);
    cursor:pointer;
}

/* .map-3 */
.map-3{
    position:fixed;
    top:0; left:0;

    padding-top:1%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
    display:none;
}

.map-33{
    display:block;
}

.map-3 article{
    width:65%; height:85vh;
    background-color:white;
    margin:5% auto;
    padding:3%;
    overflow: auto;

    position:relative;
}
.map-3 h2{
    text-align: left;
    padding-bottom:3%;
    color:#2f3792;
    font-size: 1.25rem;
    padding-left:2%;
}
.map-3 .map{
    display:flex;
    align-items: center;
    justify-content: space-around;
    /* background-color:  #f6f7f9; */
    padding:2%;
   
}
.map-3 .map p{
    width:38%;
    padding-bottom:10%;
}
.map-3 .map figure{
    width:58%;
}
.map-3 .map figure img{
    width:100%;
}

.map-3 .map p{font-size: 0.9rem;}
.map-3 .map b{font-size:1rem;}
.map-3 .map small{
    font-size: 0.9rem;
    line-height: 1.5;
}

.map-3 a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:0;
    right:0; 
    transform:scale(0.4);
    cursor:pointer;
}

/* m-4 */
.map-4{
    position:fixed;
    top:0; left:0;

    padding-top:1%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
    display:none;
}

.map-44{
    display:block;
}

.map-4 article{
    width:65%; height:85vh;
    background-color:white;
    margin:5% auto;
    padding:3%;
    overflow: auto;

    position:relative;
}
.map-4 h2{
    text-align: left;
    padding-bottom:3%;
    color:#2f3792;
    font-size: 1.25rem;
    padding-left:2%;
}
.map-4 .map{
    display:flex;
    align-items: center;
    justify-content: space-around;
    /* background-color:  #f6f7f9; */
    padding:2%;
   
}
.map-4 .map p{
    width:36%;
    padding-bottom:10%;
}
.map-4 .map figure{
    width:58%;
}
.map-4 .map figure img{
    width:100%;
}

.map-4 .map p{font-size: 0.9rem;}
.map-4 .map b{font-size:1rem;}
.map-4 .map small{
    font-size: 0.9rem;
    line-height: 1.5;
}

.map-4 a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:0;
    right:0; 
    transform:scale(0.4);
    cursor:pointer;
}
@media (min-width:1281px) and (max-width:1546px){
/* sub1_4 */

.sub1_4{
    width:100%; 
    padding:5% 0;
    background-color: white;  
    transition:1s;
    opacity: 0;
    transform:translateX(10%);
}
.sub1_4.active{opacity: 1; transform:translateX(0%);}

.sub1_4 h1{
    width:100%;
    text-align: center;
    padding-bottom:3%;

    font-size: 1.25rem;
    font-weight: bold;
    color: #2f3972;
}

.sub1_4 ul{
    width:60%;
    margin:0 auto;

    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sub1_4 li{
    width:230px; height:190px;
    border:1px solid #777777;
    border-radius: 15px;
    margin:5px;
    padding:2% 1%;
    background-color: #f6f7f9;

    position:relative;
}

.sub1_4 li h2{
    text-align: center;
    font-size:1.1rem;
    font-weight: bold;
}

.sub1_4 li p{
    width:90%;
    font-size:1rem;
    font-weight: normal;
    text-align:left;
    padding-top:5%;
    margin:0 auto;
}

.sub1_4 li img{
    position:absolute;
    right:5%;
    bottom:2%;
    transform:scale(0.6);
}

.sub1_4 li:hover{
    background-color:white;
    border:2px solid #2f3972;
}


}
@media (min-width:1025px) and (max-width:1280px){
/* sub1_1 */
header nav > a:nth-child(1){
    color:#2f3972;
    font-weight: bold;
    border-bottom:2px solid #2f3972;
}
main{
    margin-top:7vw;
}
.sub1_1{
    width:100%;
    padding:50px 0;
    text-align: center;
    margin:0 auto;
    background-color: white;
    position:relative;
    margin-top:25px;
    animation:a1 2s forwards;
}

@keyframes a1{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.sub1_1 h2{
    font-size:1.25rem;
    padding-bottom:1%;
    padding-right:2%;
    white-space: pre;
}
.sub1_1 h2 b{ 
    font-family: HeadlineR-HM;
    font-size:1.8rem;
    text-align: center;
    color: #dddaf0;  
}
.sub1_1 p{
    padding:0px;
    margin:0 auto;
    font-size:0.9rem;

}
.sub1_1 p b{
    color:#2f3972;
    font-size:0.9rem;
}

/* sub1_2 */
.sub1_2{
    width:80%;
    background-color:white;
    margin:25px auto;
    padding:5% 5% 15% 5%;

    position:relative;
    animation:a1 2s forwards;
}


.sub1_2 .txt2_1{
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #010101;
    font-size:0.9rem;
}

.sub1_2 .txt2_2{
    width:100%;
    position:absolute;
    right:5%;
    bottom:5%;
    font-size:0.9rem;

    display:flex;
    align-items: center;
    justify-content: center;
   
}
.txt2_2 p{width:75%;text-align:right;}
.txt2_2 figure{width:25%;}
.txt2_2 figure img{width:100%;transform:scale(0.3);transform-origin:0 50%;}


/* sub1_3 */
.sub1_3{
    width:100%;
    padding:50px 0;
    text-align: center;
    margin:0 auto;
    background-color: white;
    margin-bottom:25px;

    position:relative;
    transition:1s;
    opacity: 0;
    transform:translateX(-10%);
}
.sub1_3.active{opacity: 1; transform:translateX(0%);}

.sub1_3 h2{
    font-size:1.25rem;
    padding-bottom:1%;
    padding-right:2%;
    white-space: pre;
}
.sub1_3 h2 b{ 
    font-family: HeadlineR-HM;
    font-size:1.8rem;
    text-align: center;
    color: #dddaf0;  
}

/* sub1_4 */

.sub1_4{
    width:100%; 
    padding:5% 0;
    background-color: white;  
    transition:1s;
    opacity: 0;
    transform:translateX(10%);
}
.sub1_4.active{opacity: 1; transform:translateX(0%);}

.sub1_4 h1{
    width:100%;
    text-align: center;
    padding-bottom:3%;

    font-size: 1.25rem;
    font-weight: bold;
    color: #2f3972;
}

.sub1_4 ul{
    width:60%;
    margin:0 auto;

    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sub1_4 li{
    width:210px; height:180px;
    border:1px solid #777777;
    border-radius: 15px;
    margin:5px;
    padding:2% 1%;
    background-color: #f6f7f9;

    position:relative;
}

.sub1_4 li h2{
    text-align: center;
    font-size:1rem;
    font-weight: bold;
}

.sub1_4 li p{
    width:90%;
    font-size:0.9rem;
    font-weight: normal;
    text-align:left;
    padding-top:5%;
    margin:0 auto;
}

.sub1_4 li img{
    position:absolute;
    right:5%;
    bottom:2%;
    transform:scale(0.55);
}

.sub1_4 li:hover{
    background-color:white;
    border:2px solid #2f3972;
}


.sub1_5{
    width:100%;
    padding:5%;
    text-align: center;
    margin:25px auto;
    background-color: white;
    transition:1s;
    opacity: 0;
    transform:translateX(-10%);
}
.sub1_5.active{opacity: 1; transform:translateX(0%);}
.sub1_5 h2{
    width:100%;
    text-align: center;

    font-size: 1.25rem;
    font-weight: bold;
    color: #2f3972;
}

/* sub1_6 */
.sub1_6{padding-bottom:25px;    transition:1s;
    opacity: 0;
    transform:translateX(10%);
}
.sub1_6.active{opacity: 1; transform:translateX(0%);}
.sub1_6 ul{
    width:100%;
}
.sub1_6 li{
    width:100%;
    margin:0 auto;
    padding:85px 0;
}
.sub1_6 li:first-child{padding-top:0;}
.sub1_6 .sub1_61{
    width:80%;
    margin:0 auto;
    display:flex;
    justify-content: space-around;
    align-items:center;
}
.sub1_6 li:nth-child(2n){background-color: white;}
.sub1_6 li figure{
    width:40%;
}
.sub1_6 li img{
    width:100%;
    border-radius: 30px;
    border:1px solid #f6f7f9;
    margin:0;
}
.sub1_6 .txt2_3{
    width:50%;
    padding:5% 0;
}
.sub1_6 .txt2_3 b{
    color: #000000;
    font-size: 1.1rem;
    font-weight:bold;
}

.sub1_6 .txt2_3 p{
    padding:5% 0;
    line-height: 1.42;
    font-size: 0.9rem;
}

.sub1_6 .txt2_3 a{
    font-size: 0.6rem;
    font-weight: bold;
    line-height: 1.5;
    text-align:center;
    color: #fff;
    background-color: #000;
    border-radius: 50px;
    padding:6px 18px;
    cursor:pointer;
}

.sub1_6 .txt2_3 a:hover{
    background-color:#2f3792;
    color:white;
    font-weight: bold;
}


/* 지도 */
/* map-1 */
.map-1{
    position:fixed;
    top:0; left:0;

    padding-top:1%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
    display:none;
}

.map-11{
    display:block;
}

.map-1 article{
    width:65%; height:85vh;
    background-color:white;
    margin:5% auto;
    padding:3%;
    overflow: auto;

    position:relative;
}
.map-1 h2{
    text-align: left;
    padding-bottom:3%;
    color:#2f3792;
    font-size: 1.25rem;
    padding-left:2%;
}
.map-1 .map{
    display:flex;
    align-items: center;
    justify-content: space-around;
    /* background-color:  #f6f7f9; */
    padding:2%;
   
}
.map-1 .map p{
    width:38%;
    padding-bottom:10%;
}
.map-1 .map figure{
    width:58%;
}
.map-1 .map figure img{
    width:100%;
}

.map-1 .map p{font-size: 0.9rem;}
.map-1 .map b{font-size:1rem;}
.map-1 .map small{
    font-size: 0.9rem;
    line-height: 1.5;
}

.map-1 a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:0;
    right:0; 
    transform:scale(0.4);
    cursor:pointer;
}

/* map-2 */

.map-2{
    position:fixed;
    top:0; left:0;

    padding-top:1%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
    display:none;
}

.map-22{
    display:block;
}

.map-2 article{
    width:65%; height:85vh;
    background-color:white;
    margin:5% auto;
    padding:3%;
    overflow: auto;

    position:relative;
}
.map-2 h2{
    text-align: left;
    padding-bottom:3%;
    color:#2f3792;
    font-size: 1.25rem;
    padding-left:2%;
}
.map-2 .map{
    display:flex;
    align-items: center;
    justify-content: space-around;
    /* background-color:  #f6f7f9; */
    padding:2%;
   
}
.map-2 .map p{
    width:38%;
    padding-bottom:10%;
}
.map-2 .map figure{
    width:58%;
}
.map-2 .map figure img{
    width:100%;
}

.map-2 .map p{font-size: 0.9rem;}
.map-2 .map b{font-size:1rem;}
.map-2 .map small{
    font-size: 0.9rem;
    line-height: 1.5;
}

.map-2 a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:0;
    right:0; 
    transform:scale(0.4);
    cursor:pointer;
}

/* .map-3 */
.map-3{
    position:fixed;
    top:0; left:0;

    padding-top:1%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
    display:none;
}

.map-33{
    display:block;
}

.map-3 article{
    width:65%; height:85vh;
    background-color:white;
    margin:5% auto;
    padding:3%;
    overflow: auto;

    position:relative;
}
.map-3 h2{
    text-align: left;
    padding-bottom:3%;
    color:#2f3792;
    font-size: 1.25rem;
    padding-left:2%;
}
.map-3 .map{
    display:flex;
    align-items: center;
    justify-content: space-around;
    /* background-color:  #f6f7f9; */
    padding:2%;
   
}
.map-3 .map p{
    width:38%;
    padding-bottom:10%;
}
.map-3 .map figure{
    width:58%;
}
.map-3 .map figure img{
    width:100%;
}

.map-3 .map p{font-size: 0.9rem;}
.map-3 .map b{font-size:1rem;}
.map-3 .map small{
    font-size: 0.9rem;
    line-height: 1.5;
}

.map-3 a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:0;
    right:0; 
    transform:scale(0.4);
    cursor:pointer;
}

/* m-4 */
.map-4{
    position:fixed;
    top:0; left:0;

    padding-top:1%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
    display:none;
}

.map-44{
    display:block;
}

.map-4 article{
    width:65%; height:85vh;
    background-color:white;
    margin:5% auto;
    padding:3%;
    overflow: auto;

    position:relative;
}
.map-4 h2{
    text-align: left;
    padding-bottom:3%;
    color:#2f3792;
    font-size: 1.25rem;
    padding-left:2%;
}
.map-4 .map{
    display:flex;
    align-items: center;
    justify-content: space-around;
    /* background-color:  #f6f7f9; */
    padding:2%;
   
}
.map-4 .map p{
    width:36%;
    padding-bottom:10%;
}
.map-4 .map figure{
    width:58%;
}
.map-4 .map figure img{
    width:100%;
}

.map-4 .map p{font-size: 0.9rem;}
.map-4 .map b{font-size:1rem;}
.map-4 .map small{
    font-size: 0.9rem;
    line-height: 1.5;
}

.map-4 a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:0;
    right:0; 
    transform:scale(0.4);
    cursor:pointer;
}
}

@media (min-width:767px) and (max-width:1024px){
    /* sub1_1 */
/* header nav a:nth-child(1){
    color:#2f3972;
    font-weight: bold;
    font-size: 0;
    border-bottom:0px solid #2f3972;
}
header nav a:hover{
    color:#2f3972;
    font-weight: bold;
    border-bottom:0px solid #2f3972;
} */
main{
    margin-top:11vw;
}
.sub1_1{
    width:100%;
    padding:5% 0;
    text-align: center;
    margin:0 auto;
    background-color: white;
    position:relative;
    margin-top:25px;
}

.sub1_1 h2{
    font-size:1.5rem;
    padding-bottom:1%;
    padding-right:2%;
}
.sub1_1 h2 b{ 
    font-family: HeadlineR-HM;
    font-size:1.8rem;
    text-align: center;
    color: #dddaf0;  
}
.sub1_1 p{
    padding:0px;
    margin:0 auto;
    width:50%;
}
.sub1_1 p b{
    color:#2f3972;
}

/* sub1_2 */
.sub1_2{
    width:90%;
    background-color:white;
    margin:20px auto;
    padding:5% 5% 15% 5%;

    position:relative;
}

.sub1_2 .txt2_1{
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #010101;
}

.sub1_2 .txt2_2{
    width:100%;
    position:absolute;
    right:5%;
    bottom:5%;
    font-size: 1rem;

    display:flex;
    align-items: center;
    justify-content: center;
   
}
.txt2_2 p{width:75%;text-align:right;}
.txt2_2 figure{width:25%;}
.txt2_2 figure img{width:100%;transform:scale(0.5);transform-origin:0 50%;}

/* sub1_3 */
.sub1_3{
    width:100%;
    padding:5% 0;
    text-align: center;
    margin:0 auto;
    background-color: white;
    margin-bottom:20px;

    position:relative;
}

.sub1_3 h2{
    font-size:1.5rem;
    padding-bottom:1%;
    padding-right:2%;
}
.sub1_3 h2 b{ 
    font-family: HeadlineR-HM;
    font-size:1.8rem;
    text-align: center;
    color: #dddaf0;  
}

/* sub1_4 */

.sub1_4{
    width:100%; 
    padding:5% 0;
    background-color: white;  
}

.sub1_4 h1{
    width:100%;
    text-align: center;
    padding-bottom:3%;

    font-size: 1.25rem;
    font-weight: bold;
    color: #2f3972;
}

.sub1_4 ul{
    width:70%;
    margin:0 auto;

    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sub1_4 li{
    width:180px; height:140px;
    border:1px solid #777777;
    border-radius: 15px;
    margin:5px;
    padding:2% 1%;
    background-color: #f6f7f9;

    position:relative;
}

.sub1_4 li h2{
    font-size:0.9rem;
    font-weight: bold;
    width:100%;
    text-align: center;
}

.sub1_4 li p{
    width:95%;
    margin:0 auto;
    font-size:0.7rem;
    font-weight: normal;
    text-align:left;
    padding-top:5%;
}

.sub1_4 li img{
    position:absolute;
    right:1%;
    bottom:2%;
    transform:scale(0.6);
}

.sub1_4 li:hover{
    background-color:white;
    border:3px solid #2f3972;
}

.sub1_5{
    width:100%;
    padding:5%;
    text-align: center;
    margin:40px auto;
    background-color: white;
}
.sub1_5 h2{
    width:100%;
    text-align: center;

    font-size: 1.25rem;
    font-weight: bold;
    color: #2f3972;
}

/* sub1_6 */
.sub1_6{padding-bottom:20px;}
.sub1_6 ul{
    width:100%;
}
.sub1_6 li{
    width:100%;
    margin:0 auto;
    padding:40px 0;
 
}
.sub1_6 li:first-child{padding-top:0;}
.sub1_6 .sub1_61{
    width:80%;
    margin:0 auto;
    display:flex;
    justify-content: space-around;
    align-items:center;
}
.sub1_6 li:nth-child(2n){background-color: white;}
.sub1_6 li figure{
    width:40%;
}
.sub1_6 li img{
    width:100%;
    border-radius: 10px;
    border:1px solid #f6f7f9;
    margin:0;
}
.sub1_6 .txt2_3{
    width:50%;
    padding:5% 0;
}
.sub1_6 .txt2_3 b{
    color: #000000;
    font-size: 1rem;
    font-weight:bold;
}

.sub1_6 .txt2_3 p{
    padding:5% 0;
    line-height: 1.42;
    font-size: 0.9rem;
}

.sub1_6 .txt2_3 a{
    font-size: 0.5rem;
    font-weight: bold;
    line-height: 1.5;
    text-align:center;
    color: #fff;
    background-color: #000;
    border-radius: 50px;
    padding:8px 18px;
}

.sub1_6 .txt2_3 a:hover{
    background-color:#2f3792;
    color:white;
    font-weight: bold;
}
/* map-1 */
.map-1{
    position:fixed;
    top:0; left:0;


    padding-top:2%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
    /* display:none; */
}

.map-1 article{
    width:80%; height:85vh;
    background-color:white;
    margin:5% auto;
    padding:3%;
    overflow:auto;

    position:relative;
}
.map-1 h2{
    text-align: left;
    padding-bottom:3%;
    color:#2f3792;
    font-size: 1.25rem;
    padding-left:2%;
}
.map-1 .map{
    display:flex;
    align-items: center;
    justify-content: space-around;
    /* background-color:  #f6f7f9; */
    padding:2%;
   
}
.map-1 .map p{
    width:38%;
}
.map-1 .map figure{
    width:58%;
}
.map-1 .map figure img{
    width:100%;
}

.map-1 .map p{font-size: 0.5rem;}
.map-1 .map b{font-size:0.8rem;}
.map-1 .map small{
    font-size:0.7rem;
    line-height: 1.5;
}

.map-1 a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:0;
    right:0; 
    transform:scale(0.5);
}

/* map-2 */
.map-2{
    position:fixed;
    top:0; left:0;


    padding-top:2%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
    /* display:none; */
}

.map-2 article{
    width:80%; height:85vh;
    background-color:white;
    margin:5% auto;
    padding:3%;
    overflow:auto;

    position:relative;
}
.map-2 h2{
    text-align: left;
    padding-bottom:3%;
    color:#2f3792;
    font-size: 1.25rem;
    padding-left:2%;
}
.map-2 .map{
    display:flex;
    align-items: center;
    justify-content: space-around;
    /* background-color:  #f6f7f9; */
    padding:2%;
   
}
.map-2 .map p{
    width:38%;
}
.map-2 .map figure{
    width:58%;
}
.map-2 .map figure img{
    width:100%;
}

.map-2 .map p{font-size: 0.5rem;}
.map-2 .map b{font-size:0.8rem;}
.map-2 .map small{
    font-size:0.7rem;
    line-height: 1.5;
}

.map-2 a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:0;
    right:0; 
}

/* map-3 */
.map-3{
    position:fixed;
    top:0; left:0;


    padding-top:2%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
    /* display:none; */
}

.map-3 article{
    width:80%; height:85vh;
    background-color:white;
    margin:5% auto;
    padding:3%;
    overflow:auto;

    position:relative;
}
.map-3 h2{
    text-align: left;
    padding-bottom:3%;
    color:#2f3792;
    font-size: 1.25rem;
    padding-left:2%;
}
.map-3 .map{
    display:flex;
    align-items: center;
    justify-content: space-around;
    /* background-color:  #f6f7f9; */
    padding:2%;
   
}
.map-3 .map p{
    width:38%;
}
.map-3 .map figure{
    width:58%;
}
.map-3 .map figure img{
    width:100%;
}

.map-3 .map p{font-size: 0.5rem;}
.map-3 .map b{font-size:0.8rem;}
.map-3 .map small{
    font-size:0.7rem;
    line-height: 1.5;
}

.map-3 a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:0;
    right:0; 
    transform:scale(0.5);
}

/* map-4 */
.map-4{
    position:fixed;
    top:0; left:0;


    padding-top:2%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
    /* display:none; */
}

.map-4 article{
    width:80%; height:85vh;
    background-color:white;
    margin:5% auto;
    padding:3%;
    overflow:auto;

    position:relative;
}
.map-4 h2{
    text-align: left;
    padding-bottom:3%;
    color:#2f3792;
    font-size: 1.25rem;
    padding-left:2%;
}
.map-4 .map{
    display:flex;
    align-items: center;
    justify-content: space-around;
    /* background-color:  #f6f7f9; */
    padding:2%;
   
}
.map-4 .map p{
    width:38%;
}
.map-4 .map figure{
    width:58%;
}
.map-4 .map figure img{
    width:100%;
}

.map-4 .map p{font-size: 0.5rem;}
.map-4 .map b{font-size:0.8rem;}
.map-4 .map small{
    font-size:0.7rem;
    line-height: 1.5;
}

.map-4 a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:0;
    right:0; 
    transform:scale(0.5);
}

}
@media (min-width:360px) and (max-width:767px){
 /* sub1_1 */
 /* header nav a:nth-child(1){
    color:#2f3972;
    font-weight: bold;
    font-size: 0px;
    border-bottom:0px solid #2f3972;
}
header nav a:hover{
    color:#2f3972;
    font-weight: bold;
    border-bottom:0px solid #2f3972;
} */
main{
    margin-top:14vw;
}
.sub1_1{
    width:100%;
    padding:10% 0;
    text-align: center;
    margin:0 auto;
    background-color: white;
    position:relative;
    margin-top:25px;
}

.sub1_1 h2{
    font-size:1.25rem;
    padding-bottom:3%;
    padding-right:3%;
}
.sub1_1 h2 b{ 
    font-family: HeadlineR-HM;
    font-size:1.5rem;
    text-align:center;
    color: #dddaf0;  
}
.sub1_1 p{
    width:70%;
    padding:0px;
    margin:0 auto;
    text-align: left;
    line-height: 1.7;
}
.sub1_1 p b{
    color:#2f3972;
}

/* sub1_2 */
.sub1_2{
    width:90%;
    background-color:white;
    margin:20px auto;
    padding:5% 5% 25% 5%;

    position:relative;
}

.sub1_2 .txt2_1{
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #010101;
}

.sub1_2 .txt2_2{
    width:100%;
    position:absolute;
    right:5%;
    bottom:5%;
    font-size: 1rem;

    display:flex;
    align-items: center;
    justify-content: center;
   
}
.txt2_2 p{width:75%;text-align:right;}
.txt2_2 figure{width:25%;}
.txt2_2 figure img{width:100%;transform:scale(0.7);transform-origin:0 50%;}

/* sub1_3 */
.sub1_3{
    width:100%;
    padding:8% 0;
    text-align: center;
    margin:0 auto;
    background-color: white;
    margin-bottom:20px;

    position:relative;
}

.sub1_3 h2{
    font-size:1.25rem;
    padding-bottom:1%;
    padding-right:2%;
}
.sub1_3 h2 b{ 
    font-family: HeadlineR-HM;
    font-size:1.3rem;
    text-align: center;
    color: #dddaf0;  
}

/* sub1_4 */

.sub1_4{
    width:100%;
    background-color: white;  
}

.sub1_4 h1{
    width:100%;
    text-align: center;
  

    font-size: 1.25rem;
    font-weight: bold;
    color: #2f3972;
}

.sub1_4 ul{
    width:90%;
    margin:0 auto;

    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sub1_4 li{
    width:180px; height:140px;
    border:1px solid #777777;
    border-radius: 15px;
    margin:5px;
    padding:2% 1%;
    background-color: #f6f7f9;

    position:relative;
}

.sub1_4 li h2{
    width:90%;
    margin: 0 auto;
    font-size:0.9rem;
    font-weight: bold;
}

.sub1_4 li p{
    width:90%;
    margin: 0 auto;
    font-size:0.8rem;
    font-weight: normal;
    text-align:left;
    padding-top:5%;
}

.sub1_4 li img{
    position:absolute;
    right:1%;
    bottom:0;
    transform: scale(0.5);
}

.sub1_4 li:hover{
    background-color:white;
    border:3px solid #2f3972;
}

.sub1_5{
    width:100%;
    padding:8% 0;
    text-align: center;
    margin:20px auto;
    background-color: white;
}
.sub1_5 h2{
    width:100%;
    text-align: center;

    font-size: 1.25rem;
    font-weight: bold;
    color: #2f3972;
}

/* sub1_6 */
.sub1_6{padding:20px 0;}
.sub1_6 ul{
    width:100%;
}
.sub1_6 li{
    width:100%;
    margin:0 auto;
    padding:40px 0;
 
}
.sub1_6 li:first-child{padding-top:0;}
.sub1_6 .sub1_61{
    width:80%;
    margin:0 auto;
    display:block;
    justify-content: space-around;
    align-items:center;
    text-align: left;
}
.sub1_6 li:nth-child(2n){background-color: white;}
.sub1_6 li figure{
    width:100%;
}
.sub1_6 li img{
    width:100%;
    border-radius: 10px;
    border:1px solid #f6f7f9;
    margin:0;
}
.sub1_6 .txt2_3{
    width:80%;
    padding:5% 0;
    margin: 0 auto;
}
.sub1_6 .txt2_3 b{
    color: #000000;
    font-size: 1rem;
    font-weight:bold;
    text-align: center;
}

.sub1_6 .txt2_3 p{
    padding:5% 0;
    line-height: 1.42;
    font-size: 1rem;
}

.sub1_6 .txt2_3 a{
    width:60%;
    font-size: 0.5rem;
    font-weight: bold;
    line-height: 1.5;
    text-align:center;
    color: #fff;
    background-color: #000;
    border-radius: 50px;
    padding:5px 18px;
}

.sub1_6 .txt2_3 a:hover{
    background-color:#2f3792;
    color:white;
    font-weight: bold;
}

/* 지도 */
/* map-1 */
.map-1{
    padding-top:15%;
}

.map-1 article{
   width:90%; height:75vh;
   background-color:#fff;
   margin:5% auto;
   padding:3%;
   overflow:auto;

   position:relative;
}
.map-1 h2{
   text-align: left;
   padding-bottom:3%;
   color:#2f3792;
   font-size: 1.25rem;
   padding-right:10%;
}
.map-1 .map{
   display:block;
   padding:2%;
}
.map-1 .map p {width:100%;}
.map-1 .map figure{width:80%;}
.map-1 .map img{width:100%;}

.map-1 a{
   top:5%;
   right:0; 
   transform:scale(0.4);
}

/* map-2 */
.map-2{
    padding-top:15%;
}

.map-2 article{
   width:90%; height:75vh;
   background-color:#fff;
   margin:5% auto;
   padding:3%;
   overflow:auto;

   position:relative;
}
.map-2 h2{
   text-align: left;
   padding-bottom:3%;
   color:#2f3792;
   font-size: 1.25rem;
   padding-right:10%;
}
.map-2 .map{
   display:block;
   padding:2%;
}
.map-2 .map p {width:100%;}
.map-2 .map figure{width:80%;}
.map-2 .map img{width:100%;}

.map-2 a{
   top:5%;
   right:0; 
   transform:scale(0.4);
}

/* map-3 */
.map-3{
    padding-top:15%;
}

.map-3 article{
   width:90%; height:75vh;
   background-color:#fff;
   margin:5% auto;
   padding:3%;
   overflow:auto;

   position:relative;
}
.map-3 h2{
   text-align: left;
   padding-bottom:3%;
   color:#2f3792;
   font-size: 1.25rem;
   padding-right:10%;
}
.map-3 .map{
   display:block;
   padding:2%;
}
.map-3 .map p {width:100%;}
.map-3 .map figure{width:80%;}
.map-3 .map img{width:100%;}

.map-3 a{
   top:5%;
   right:0; 
   transform:scale(0.4);
}
/* map-4 */
.map-4{
    padding-top:15%;
}

.map-4 article{
   width:90%; height:75vh;
   background-color:#fff;
   margin:5% auto;
   padding:3%;
   overflow:auto;

   position:relative;
}
.map-4 h2{
   text-align: left;
   padding-bottom:3%;
   color:#2f3792;
   font-size: 1.25rem;
   padding-right:10%;
}
.map-4 .map{
   display:block;
   padding:2%;
}
.map-4 .map p {width:100%;}
.map-4 .map figure{width:80%;}
.map-4 .map img{width:100%;}

.map-4 a{
   top:5%;
   right:0; 
   transform:scale(0.4);
}



}