@charset "utf-8";

@import url(common.css);

header nav > a:nth-child(3){
    color:#2f3972;
    font-weight: bold;
    border-bottom:2px solid #2f3972;
}

main{margin-top:7vw;}


/* .sub3_1 */
.sub3_1{
    width:100%;
    padding:50px 0;
    text-align: center;
    background-color: white;
    animation:a1 2s forwards;
}

@keyframes a1{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.sub3_1 h2 b{
    font-family: HeadlineR-HM;
    font-size: 1.8rem;
    text-align: left;
    color: #dddaf0;
    z-index:1;
    padding:0;margin:0;

}
.sub3_1 h2{
    white-space:pre;
    font-size:1.5rem;
    padding-bottom:32px;
}
.sub3_1 p{
    width:60%;
    margin:0 auto;
}

.sub3_1 b{
    color:#2f3972;
}

/* .sub3-2 */
.sub3_2{
    width:100%;
    background-color:white;
    margin:25px auto;
    padding:5% 0 15% 0;

    position:relative;
    animation:a1 2s forwards;
}

@keyframes a1{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.sub3_2 .txt3_1{
    width:60%;
    margin:0 auto;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #010101;
}
.sub3_2 .txt3_1 b{
    font-size:0.9rem;
}

.sub3_2 a{
    font-size: 0.7rem;
    font-weight: bold;
    line-height: 1.5;
    text-align:center;
    color: #fff;
    background-color: #000;
    border-radius: 50px;
    padding:10px 20px;
  
    position:absolute;
    right:35%;
    bottom:15%;
}

.sub3_2 a:hover{
    background-color:#2f3792;
    color:white;
    font-weight: bold;
}

/* .sub3_3 */

.sub3_3{
    width:100%;
    padding:50px 0;
    text-align: center;
    margin:0 auto;
    background-color: white;
    margin-bottom:25px;

    position:relative;
    transition:1s;
    opacity: 0;
    transform:translateX(10%);
}
.sub3_3.active{opacity: 1; transform:translateX(0);}

.sub3_3 h2 b{
    font-family: HeadlineR-HM;
    font-size:1.8rem;
    text-align: left;
    color: #dddaf0;
}
.sub3_3 h2{
    white-space:pre;
    font-size:1.5rem;
}


/* .sub3_4 */
.sub3_4{
    width:100%;padding:55%;
    background-color:white;
    padding:120px 0;
    position:relative;
    transition:1s;
    opacity: 0;
    transform:translateX(-10%);
}
.sub3_4.active{opacity: 1; transform:translateX(0);}

.sub3_41{
    width:60%; height:300px;
    margin:0 auto;
    overflow:hidden;  
    border:1px solid #f6f7f9;  
}
.sub3_4 ul{
    height: 100%;
    display:flex;
}

.sub3_4 li{
    width:260px;
    height:260px;
    border:1px solid #c2bbbb;
    flex-shrink: 0;
    margin-right:20px;
    position:relative;
}
.wub3_4 li:last-child{
    margin:0;
}


.sub3_4 li a{
    display:block;
    width:100%;
    height:100%;
    font-size:0;    
}
.sub3_4 li:nth-child(1) a{
    background: url(../img/보전활동/sub3_4-1.png) no-repeat center center;
}
.sub3_4 li:nth-child(2) a{
    
    background: url(../img/보전활동/sub3_4-2.png) no-repeat center center;
}
.sub3_4 li:nth-child(3) a{
    background: url(../img/보전활동/sub3_4-4.png) no-repeat center center;
}
.sub3_4 li:nth-child(4) a{
    background: url(../img/보전활동/sub3_4-7.png) no-repeat center center;
}
.sub3_4 li:nth-child(5) a{
    
    background: url(../img/보전활동/sub3_4-8.jpg) no-repeat center center;
}
.sub3_4 li:nth-child(6) a{
    background: url(../img/보전활동/sub3_4-6.png) no-repeat center center;
}
.sub3_4 li:nth-child(7) a{
    background: url(../img/보전활동/sub3_4-3.png) no-repeat center center;
}

.sub3_4 li p{
    color:#fff;
    text-align: center;
    padding:2%;
    font-weight: bold;
    position:absolute;
    bottom:0;
    width:100%;
    background-color: rgba(0,0,0,0.7);
}

.sub3_4 li:hover {
    border:2px solid #2f3792;
}

.sub3_4 li:hover p{
    color:#2f3792;
    background-color:#f6f7f9;
}

.ar3-1 a{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:50px;
    height:50px;
    border-radius: 50px;
    font-size:0;
}

.sub3_4 .ar3-1 a:nth-child(1){
    left:15%;
    background:url('../img/btn-prev-8.png') no-repeat center center;

}
.sub3_4 .ar3-1 a:nth-child(2){
    right:15%;
    background:url('../img/btn-top1.png') no-repeat center center;
}


/* .sub3_5 */

.sub3_5{
    width:100%;
    padding:5% 0;
    text-align: center;
    background-color: white;
    margin:25px 0;
    transition:1s;
    opacity: 0;
    transform:translateX(10%);
}
.sub3_5.active{opacity: 1; transform:translateX(0);}

.sub3_5 h2 b{
    font-family: HeadlineR-HM;
    font-size: 1.8rem;
    text-align: left;
    color: #dddaf0;
    z-index:1;
    padding:0;margin:0;

}
.sub3_5 h2{
    white-space:pre;
    font-size:1.5rem;
    padding-bottom:32px;
}
.sub3_5 p{
    width:60%;
    margin:0 auto;
}

.sub3_5 b{
    color:#2f3972;
}

/* .sub3_6 */
.sub3_6{
    width:100%;
    background-color: white;
    text-align: center;
    padding:120px 0;
    margin-bottom:25px;
    transition:1s;
    opacity: 0;
    transform:translateX(-10%);
}
.sub3_6.active{opacity: 1; transform:translateX(0);}

video{
    margin:0 auto;
    width:700px; height:480px;
    box-sizing:border-box;
}



/* pop-up */

/* pop-up */
.pop-1 {
    position:fixed;
    top:0; left:0;


    padding-top:4%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
    display:none;
}
.pop-1 article{
    width:66%; height:90vh;
    background-color:white;
    padding:1%;
    position:relative;
    overflow:auto;
    margin:0 auto;
}

.pop-1 h2{
    text-align: left;
    color:#2f3792;
    font-size: 1.25rem;
    padding-left:2%;
    padding-bottom:2%;
}
.pop-1 p b{
    font-size: 1.2rem;
    margin-bottom:5%;
}
.pop-1 p{
    font-size: 1rem;
    margin:0 auto;
    background-color: #f6f7f9;
    padding:7% 7% 17% 7%;
    line-height: 1.6;
}

.pop-1 a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:0;
    right:0; 
    transform:scale(0.4);
    cursor:pointer;
}
.pop-1.open1{display:block; width:100%;}
/* pop-2 */

.pop-2{
    position:fixed;
    top:0; left:0;


    padding-top:2%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
  
    display:none;
}
.pop-2.open{display:block;}

.pop-2 .pop-close{width:100%; height:100%; position:relative;}

.pop-2 .pop-21{
    width:60%;
    height:80vh;
    background-color: white;
    margin:3% auto;
    overflow:auto;
}
.pop-2 .pop-21 h2{
    color:#2f3792; 
    font-size: 1.25rem;
    padding:5%;
    text-align:center;
}
.pop-2 .pop-21 div{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:80%;
    padding-bottom:5%;

    margin:0 auto;
}
.pop-2 .pop-21 div figure{width:35%;}
.pop-2 .pop-21 div figure img{width:100%;}
.pop-2 .pop-21 div p{
    font-size: 1rem;
    width:60%;
}
.pop-2 .pop-close a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:0%;
    right:16%; 
    transform:scale(0.4);
}

/* pop-3 */

.pop-3{
    position:fixed;
    top:0; left:0;


    padding-top:2%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
  
    display:none;
}

.pop-3 .pop-close{width:100%; height:100%; position:relative;}

.pop-3 .pop-31{
    width:60%;
    height:85vh;
    background-color: white;
    margin:3% auto;
    overflow:auto;
}
.pop-3 .pop-31 h2{
    color:#2f3792; 
    font-size: 1.25rem;
    padding:5%;
    text-align:center;
}
.pop-3 .pop-31 p{
    width:80%;
    margin:0 auto;
    padding-bottom:5%;
    font-size:1rem;
}
.pop-3 .pop-31 div{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:80%;
    padding-bottom:5%;

    margin:0 auto;
}
.pop-3 .pop-31 div figure{width:35%;}
.pop-3 .pop-31 div figure img{width:100%;}
.pop-3 .pop-31 div p{
    font-size:1rem;
    width:60%;
}
.pop-3 .pop-close a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:0%;
    right:16%; 
    transform:scale(0.4);
}
.pop-3.open{display:block;}

/* pop-4 */
.pop-4{
    position:fixed;
    top:0; left:0;

    
    padding-top:2%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
  
    display:none;
}

.pop-4 .pop-close{width:100%; height:100%; position:relative;}

.pop-4 .pop-41{
    width:60%;
    height:85vh;
    background-color: white;
    margin:3% auto;
    overflow:auto;

}
.pop-4 .pop-41 h2{
    color:#2f3792; 
    font-size: 1.25rem;
    padding:5%;
    text-align:center;
}
.pop-4 .pop-41 div{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:80%;
    padding-bottom:5%;

    margin:0 auto;
}
.pop-4 .pop-41 div figure{width:35%;}
.pop-4 .pop-41 div figure img{width:100%;}
.pop-4 .pop-41 div p{
    font-size: 1rem;
    width:60%;
}
.pop-4 .pop-close a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:0%;
    right:16%; 
    transform:scale(0.4);
}
.pop-4.open{display:block;}
/* pop-5 */
.pop-5{
    position:fixed;
    top:0; left:0;

    
    padding-top:2%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
  
    display:none;
}

.pop-5 .pop-close{width:100%; height:100%; position:relative;}

.pop-5 .pop-51{
    width:60%;
    height:85vh;
    background-color: white;
    margin:3% auto;
    overflow:auto;

}
.pop-5 .pop-51 h2{
    color:#2f3792; 
    font-size: 1.25rem;
    padding:5%;
    text-align:center;
}
.pop-5 .pop-51 div{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:80%;
    padding-bottom:5%;

    margin:0 auto;
}
.pop-5 .pop-51 div figure{width:35%;}
.pop-5 .pop-51 div figure img{width:100%;}
.pop-5 .pop-51 div p{
    font-size: 1rem;
    width:60%;
}
.pop-5 .pop-close a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:0%;
    right:16%; 
    transform:scale(0.4);
}
.pop-5.open{display:block;}
/* pop-6 */
.pop-6{
    position:fixed;
    top:0; left:0;

    
    padding-top:2%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
  
    display:none;
}

.pop-6 .pop-close{width:100%; height:100%; position:relative;}

.pop-6 .pop-61{
    width:60%;
    height:85vh;
    background-color: white;
    margin:3% auto;
    overflow:auto;

}
.pop-6 .pop-61 h2{
    color:#2f3792; 
    font-size: 1.25rem;
    padding:5%;
    text-align:center;
}
.pop-6 .pop-61 div{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:80%;
    padding-bottom:5%;

    margin:0 auto;
}
.pop-6 .pop-61 div figure{width:35%;}
.pop-6 .pop-61 div figure img{width:100%;}
.pop-6 .pop-61 div p{
    font-size: 1rem;
    width:60%;
}
.pop-6 .pop-close a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:0%;
    right:16%; 
    transform:scale(0.4);
}
.pop-6.open{display:block;}
/* pop-7 */

.pop-7{
    position:fixed;
    top:0; left:0;


    padding-top:2%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
  
    display:none;
}

.pop-7 .pop-close{width:100%; height:100%; position:relative;}

.pop-7 .pop-71{
    width:60%;
    height:85vh;
    background-color: white;
    margin:3% auto;
    overflow:auto;
}
.pop-7 .pop-71 h2{
    color:#2f3792; 
    font-size: 1.25rem;
    padding:5%;
    text-align:center;
}
.pop-7 .pop-71 p{
    width:80%;
    margin:0 auto;
    padding-bottom:5%;
    font-size:1rem;
}
.pop-7 .pop-71 div{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:80%;
    padding-bottom:5%;

    margin:0 auto;
}
.pop-7 .pop-71 div figure{width:35%;}
.pop-7 .pop-71 div figure img{width:100%;}
.pop-7 .pop-71 div p{
    font-size: 1rem;
    width:60%;
}
.pop-7 .pop-close a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:0%;
    right:16%; 
    transform:scale(0.4);
}
.pop-7.open{display:block;}

/* pop-8 */
.pop-8{
    position:fixed;
    top:0; left:0;

    
    padding-top:2%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
  
    display:none;
}

.pop-8 .pop-close{width:100%; height:100%; position:relative;}

.pop-8 .pop-81{
    width:60%;
    height:85vh;
    background-color: white;
    margin:3% auto;
    overflow:auto;

}
.pop-8 .pop-81 h2{
    color:#2f3792; 
    font-size: 1.25rem;
    padding:5%;
    text-align:center;
}
.pop-8 .pop-81 div{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:80%;
    padding-bottom:5%;

    margin:0 auto;
}
.pop-8 .pop-81 div figure{width:35%;}
.pop-8 .pop-81 div figure img{width:100%;}
.pop-8 .pop-81 div p{
    font-size: 1rem;
    width:60%;
}
.pop-8 .pop-close a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:0%;
    right:16%; 
    transform:scale(0.4);
}
.pop-8.open{display:block;}

@media (min-width:1281px) and (max-width:1546px){
    
/* .sub3_4 */
.sub3_4{
    width:100%;padding:55%;
    background-color:white;
    padding:120px 0;
    position:relative;
    transition:1s;
    opacity: 0;
    transform:translateX(-10%);
}
.sub3_4.active{opacity: 1; transform:translateX(0);}

.sub3_41{
    width:60%; height:200px;
    margin:0 auto;
    overflow:hidden;  
    border:1px solid #f6f7f9;  
}
.sub3_4 ul{
    height: 100%;
    display:flex;
}

.sub3_4 li{
    width:200px;
    height:200px;
    border:1px solid #c2bbbb;
    flex-shrink: 0;
    margin-right:20px;
    position:relative;
}
.wub3_4 li:last-child{
    margin:0;
}


.sub3_4 li a{
    display:block;
    width:100%;
    height:100%;
    font-size:0;    
}
.sub3_4 li:nth-child(1) a{
    background: url(../img/보전활동/sub3_4-1.png) no-repeat center center;
}
.sub3_4 li:nth-child(2) a{
    
    background: url(../img/보전활동/sub3_4-2.png) no-repeat center center;
}
.sub3_4 li:nth-child(3) a{
    background: url(../img/보전활동/sub3_4-4.png) no-repeat center center;
}
.sub3_4 li:nth-child(4) a{
    background: url(../img/보전활동/sub3_4-7.png) no-repeat center center;
}
.sub3_4 li:nth-child(5) a{
    
    background: url(../img/보전활동/sub3_4-8.jpg) no-repeat center center;
}
.sub3_4 li:nth-child(6) a{
    background: url(../img/보전활동/sub3_4-6.png) no-repeat center center;
}
.sub3_4 li:nth-child(7) a{
    background: url(../img/보전활동/sub3_4-3.png) no-repeat center center;
}

.sub3_4 li p{
    color:#fff;
    text-align: center;
    padding:2%;
    font-weight: bold;
    position:absolute;
    bottom:0;
    width:100%;
    background-color: rgba(0,0,0,0.7);
}

.sub3_4 li:hover {
    border:2px solid #2f3792;
}

.sub3_4 li:hover p{
    color:#2f3792;
    background-color:#f6f7f9;
}

.ar3-1 a{
    position:absolute;
    top:48%;
    transform: scale(0.8);
    width:50px;
    height:50px;
    border-radius: 50px;
    font-size:0;
}

.sub3_4 .ar3-1 a:nth-child(1){
    left:15%;
    background:url('../img/btn-prev-8.png') no-repeat center center;

}
.sub3_4 .ar3-1 a:nth-child(2){
    right:15%;
    background:url('../img/btn-top1.png') no-repeat center center;
}
}
@media (min-width:1025px) and (max-width:1280px){
    
/* .sub3_1 */
.sub3_1{
    width:100%;
    padding:50px 0;
    text-align: center;
    background-color: white;
    animation:a1 2s forwards;
}

@keyframes a1{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.sub3_1 h2 b{
    font-family: HeadlineR-HM;
    font-size: 1.8rem;
    text-align: left;
    color: #dddaf0;
    z-index:1;
    padding:0;margin:0;

}
.sub3_1 h2{
    white-space:pre;
    font-size:1.25rem;
    padding-bottom:1%;
}
.sub3_1 p{
    width:60%;
    margin:0 auto;
    font-size:0.9rem;
}

.sub3_1 b{
    color:#2f3972;
    font-size:0.9rem;
}

/* .sub3-2 */
.sub3_2{
    width:100%;
    background-color:white;
    margin:25px auto;
    padding:5% 0 15% 0;

    position:relative;
    animation:a1 2s forwards;
}

@keyframes a1{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.sub3_2 .txt3_1{
    width:60%;
    margin:0 auto;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #010101;
    font-size:0.9rem;
}
.sub3_2 .txt3_1 b{
    font-size:0.8rem;
}

.sub3_2 a{
    font-size: 0.7rem;
    font-weight: bold;
    line-height: 1.5;
    text-align:center;
    color: #fff;
    background-color: #000;
    border-radius: 50px;
    padding:8px 18px;
  
    position:absolute;
    right:35%;
    bottom:15%;
}

.sub3_2 a:hover{
    background-color:#2f3792;
    color:white;
    font-weight: bold;
}

/* .sub3_3 */

.sub3_3{
    width:100%;
    padding:50px 0;
    text-align: center;
    margin:0 auto;
    background-color: white;
    margin-bottom:25px;

    position:relative;
    transition:1s;
    opacity: 0;
    transform:translateX(10%);
}
.sub3_3.active{opacity: 1; transform:translateX(0);}

.sub3_3 h2 b{
    font-family: HeadlineR-HM;
    font-size:1.8rem;
    text-align: left;
    color: #dddaf0;
}
.sub3_3 h2{
    white-space:pre;
    font-size:1.25rem;
}


/* .sub3_4 */
.sub3_4{
    width:100%;padding:55%;
    background-color:white;
    padding:120px 0;
    position:relative;
    transition:1s;
    opacity: 0;
    transform:translateX(-10%);
}
.sub3_4.active{opacity: 1; transform:translateX(0);}

.sub3_41{
    width:60%; height:200px;
    margin:0 auto;
    overflow:hidden;  
    border:1px solid #f6f7f9;  
}
.sub3_4 ul{
    height: 100%;
    display:flex;
}

.sub3_4 li{
    width:180px;
    height:180px;
    border:1px solid #c2bbbb;
    flex-shrink: 0;
    margin-right:20px;
    position:relative;
}
.wub3_4 li:last-child{
    margin:0;
}


.sub3_4 li a{
    display:block;
    width:100%;
    height:100%;
    font-size:0;    
}
.sub3_4 li:nth-child(1) a{
    background: url(../img/보전활동/sub3_4-1.png) no-repeat center center;
}
.sub3_4 li:nth-child(2) a{
    
    background: url(../img/보전활동/sub3_4-2.png) no-repeat center center;
}
.sub3_4 li:nth-child(3) a{
    background: url(../img/보전활동/sub3_4-4.png) no-repeat center center;
}
.sub3_4 li:nth-child(4) a{
    background: url(../img/보전활동/sub3_4-7.png) no-repeat center center;
}
.sub3_4 li:nth-child(5) a{
    
    background: url(../img/보전활동/sub3_4-8.jpg) no-repeat center center;
}
.sub3_4 li:nth-child(6) a{
    background: url(../img/보전활동/sub3_4-6.png) no-repeat center center;
}
.sub3_4 li:nth-child(7) a{
    background: url(../img/보전활동/sub3_4-3.png) no-repeat center center;
}

.sub3_4 li p{
    color:#fff;
    text-align: center;
    padding:2%;
    font-weight: bold;
    position:absolute;
    bottom:0;
    width:100%;
    background-color: rgba(0,0,0,0.7);
}

.sub3_4 li:hover {
    border:2px solid #2f3792;
}

.sub3_4 li:hover p{
    color:#2f3792;
    background-color:#f6f7f9;
}

.ar3-1 a{
    position:absolute;
    top:48%;
    transform: scale(0.7);
    width:50px;
    height:50px;
    border-radius: 50px;
    font-size:0;
}

.sub3_4 .ar3-1 a:nth-child(1){
    left:15%;
    background:url('../img/btn-prev-8.png') no-repeat center center;

}
.sub3_4 .ar3-1 a:nth-child(2){
    right:15%;
    background:url('../img/btn-top1.png') no-repeat center center;
}


/* .sub3_5 */

.sub3_5{
    width:100%;
    padding:5% 0;
    text-align: center;
    background-color: white;
    margin:25px 0;
    transition:1s;
    opacity: 0;
    transform:translateX(10%);
}
.sub3_5.active{opacity: 1; transform:translateX(0);}

.sub3_5 h2 b{
    font-family: HeadlineR-HM;
    font-size: 1.8rem;
    text-align: left;
    color: #dddaf0;
    z-index:1;
    padding:0;margin:0;

}
.sub3_5 h2{
    white-space:pre;
    font-size:1.25rem;
    padding-bottom:1%;
}
.sub3_5 p{
    width:60%;
    margin:0 auto;
    font-size: 0.9rem;
}

.sub3_5 b{
    color:#2f3972;
    font-size: 0.9rem;
}

/* .sub3_6 */
.sub3_6{
    width:100%;
    background-color: white;
    text-align: center;
    padding:60px 0;
    margin-bottom:25px;
    transition:1s;
    opacity: 0;
    transform:translateX(-10%);
}
.sub3_6.active{opacity: 1; transform:translateX(0);}

video{
    margin:0 auto;
    width:600px; height:420px;
    box-sizing:border-box;
}
.sub3_6 figure{transform:scale(0.7);}

}
@media (min-width:768px) and (max-width:1024px){
    main{
        margin-top:11vw;
    }

    .sub3_1{
        width:100%;
        padding:5% 0;
        text-align: center;
        background-color: white;
    }
    
    .sub3_1 h2 b{
        font-family: HeadlineR-HM;
        font-size:1.3rem;
        text-align:center;
        color: #dddaf0;  
    
    }
    .sub3_1 h2{
        font-size:1.25rem;
        padding-bottom:3%;
        padding-right:3%;
    }
    .sub3_1 p{
        font-size:1rem;
        width:65%;
        padding:0px;
        margin:0 auto;
        text-align: center;
        line-height: 1.7;
    }    
    .sub3_1 b{
        color:#2f3972;
        font-size:1rem;
    }

    /* .sub3-2 */
.sub3_2{
    width:100%;
    background-color:white;
    margin:20px auto;
    padding:5% 5% 15% 5%;

    position:relative;
}

.sub3_2 .txt3_1{
    width:90%;
    margin:0 auto;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #010101;
  
}
.sub3_2 .txt3_1 b{
    font-size:0.9rem;
}

.sub3_2 a{
    font-size: 0.5rem;
    font-weight: bold;
    line-height: 1.5;
    text-align:center;
    color: #fff;
    background-color: #000;
    border-radius: 50px;
    padding:8px 15px;
  
    position:absolute;
    right:6%;
    bottom:5%;
}

.sub3_2 a:hover{
    background-color:#2f3792;
    color:white;
    font-weight: bold;
}

/* .sub3_3 */
.sub3_3{
    width:100%;
    padding:5% 0;
    text-align: center;
    margin:0 auto;
    background-color: white;
    margin-bottom:20px;

    position:relative;
}

.sub3_3 h2 b{
    font-family: HeadlineR-HM;
    font-size:1.3rem;
    text-align: center;
    color: #dddaf0; 
}
.sub3_3 h2{
    font-size:1.25rem;
    padding-bottom:1%;
    padding-right:2%;
}

/* .sub3_4 */
.sub3_4{
    width:100%;padding:15% 0 20% 0;
    background-color:white;
    position:relative;
}
.sub3_41{
    width:90%; height:230px;
    margin:0 auto;
    overflow:auto;  
    border:0px solid #f6f7f9;  
}
.sub3_4 ul{
    height: 100%;
    display:flex;
}

.sub3_4 li{
    width:220px;
    height:220px;
    border:1px solid #c2bbbb;
    flex-shrink: 0;
    margin-right:20px;
    position:relative;
}
.wub3_4 li:last-child{
    margin:0;
}


.sub3_4 li a{
    display:block;
    width:100%;
    height:100%;
    font-size:0;    

}
.sub3_4 li:nth-child(1) a{
    background: url(../img/보전활동/sub3_4-1.png) no-repeat center center;
}
.sub3_4 li:nth-child(2) a{
    
    background: url(../img/보전활동/sub3_4-2.png) no-repeat center center;
}
.sub3_4 li:nth-child(3) a{
    background: url(../img/보전활동/sub3_4-4.png) no-repeat center center;
}
.sub3_4 li:nth-child(4) a{
    background: url(../img/보전활동/sub3_4-7.png) no-repeat center center;
}
.sub3_4 li:nth-child(5) a{

    background: url(../img/보전활동/sub3_4-8.jpg) no-repeat center center;
}
.sub3_4 li:nth-child(6) a{
    background: url(../img/보전활동/sub3_4-6.png) no-repeat center center;
}
.sub3_4 li:nth-child(7) a{
    background: url(../img/보전활동/sub3_4-3.png) no-repeat center center;
}


.sub3_4 li p{
    color:#fff;
    text-align: center;
    padding:2%;
    font-weight: bold;
    position:absolute;
    bottom:0;
    width:100%;
    background-color: rgba(0,0,0,0.7);
}

.sub3_4 li:hover {
    border:2px solid #2f3792;
}

.sub3_4 li:hover p{
    color:#2f3792;
    background-color:#f6f7f9;
}

.ar3-1 a{
    position:absolute;
    top:69%;
    transform:translateY(-50%);
    width:50px;
    height:50px;
    border-radius: 50px;
    font-size:0;
    transform:scale(0.6);
}

.sub3_4 .ar3-1 a:nth-child(1){
    left:45%;
    background:url('../img/btn-prev-8.png') no-repeat center center;

}
.sub3_4 .ar3-1 a:nth-child(2){
    right:43%;
    background:url('../img/btn-top1.png') no-repeat center center;
}

.sub3_5{
    width:100%;
    padding:5% 0;
    text-align: center;
    background-color: white;
    margin:20px 0;
}

.sub3_5 h2 b{
    font-family: HeadlineR-HM;
    font-size:1.3rem;
    text-align:center;
    color: #dddaf0;  

}
.sub3_5 h2{
    font-size:1.25rem;
    padding-bottom:3%;
    padding-right:3%;
}
.sub3_5 p{
    font-size:1rem;
    width:75%;
    padding:0px;
    margin:0 auto;
    text-align: center;
    line-height: 1.7;
}    
.sub3_5 b{
    color:#2f3972;
    font-size:1rem;
}

/* .sub3_6 */
.sub3_6{
    width:100%;
    background-color: white;
    text-align: center;
    padding:40px 0;
    margin-bottom:20px;
}

video{
    margin:0 auto;
    width:70%; height:90%;
    box-sizing:border-box;
}
.sub3_6 figure{
    width:30%;
    margin:0 auto;
}
.sub3_6 figure img{width:100%;}

.pop-1{
    position:fixed;
    top:0; left:0;


    padding-top:2%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
    /* display:none; */
}

.pop-1 article{
    width:80%; height:85vh;
    background-color:white;
    margin:3% auto;
    padding:1%;
    margin-top:5%;
    position:relative;
    overflow:auto;
}

.pop-1 h2{
    text-align: left;
    color:#2f3792;
    font-size: 1.25rem;
    padding-left:2%;
    padding-bottom:2%;
}

.pop-1 p{
    font-size: 0.8rem;
    margin:0 auto;
    background-color: #f6f7f9;
    padding:3%;
}

.pop-1 a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:0;
    right:0; 
    transform:scale(0.4);
}

/* pop-2 */

.pop-2 .pop-21{
    width:80%;
    height:85vh;
    background-color: white;
    margin:5% auto;
    overflow:auto;
}

.pop-2 .pop-close a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:-5%;
    right:0%; 
    transform:scale(0.4);
}
/* pop-3 */
.pop-3 .pop-31{
    width:80%;
    height:85vh;
    background-color: white;
    margin:5% auto;
    overflow:auto;
}

.pop-3 .pop-close a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:-5%;
    right:0%; 
    transform:scale(0.4);
}
/* pop-4 */
.pop-4 .pop-41{
    width:80%;
    height:85vh;
    background-color: white;
    margin:5% auto;
    overflow:auto;
}

.pop-4 .pop-close a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:-5%;
    right:0%; 
    transform:scale(0.4);
}

/* pop-5 */
.pop-5 .pop-51{
    width:80%;
    height:85vh;
    background-color: white;
    margin:5% auto;
    overflow:auto;
}

.pop-5 .pop-close a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:-5%;
    right:0%; 
    transform:scale(0.4);
}

/* pop-6 */
.pop-6 .pop-61{
    width:80%;
    height:85vh;
    background-color: white;
    margin:5% auto;
    overflow:auto;
}

.pop-6 .pop-close a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:-5%;
    right:0%; 
    transform:scale(0.4);
}
/* pop-7 */
.pop-7 .pop-71{
    width:80%;
    height:85vh;
    background-color: white;
    margin:5% auto;
    overflow:auto;
}

.pop-7 .pop-close a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:-5%;
    right:0%; 
    transform:scale(0.4);
}

/* pop-8 */
.pop-8 .pop-81{
    width:80%;
    height:85vh;
    background-color: white;
    margin:5% auto;
    overflow:auto;
}

.pop-8 .pop-close a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:-5%;
    right:0%; 
    transform:scale(0.4);
}



}

@media (min-width:360px) and (max-width:768px){
    main{
        margin-top:14vw;
    }

    .sub3_1{
        width:100%;
        padding:10% 0;
        text-align: center;
        background-color: white;
    }
    
    .sub3_1 h2 b{
        font-family: HeadlineR-HM;
        font-size:1.3rem;
        text-align:center;
        color: #dddaf0;  
    
    }
    .sub3_1 h2{
        font-size:1.25rem;
        padding-bottom:3%;
        padding-right:3%;
    }
    .sub3_1 p{
        font-size:1rem;
        width:75%;
        padding:0px;
        margin:0 auto;
        text-align: center;
        line-height: 1.7;
    }    
    .sub3_1 b{
        color:#2f3972;
        font-size:1rem;
    }

    /* .sub3-2 */
.sub3_2{
    width:100%;
    background-color:white;
    margin:20px auto;
    padding:5% 5% 25% 5%;

    position:relative;
}

.sub3_2 .txt3_1{
    width:90%;
    margin:0 auto;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #010101;
  
}
.sub3_2 .txt3_1 b{
    font-size:0.9rem;
}

.sub3_2 a{
    font-size: 0.5rem;
    font-weight: bold;
    line-height: 1.5;
    text-align:center;
    color: #fff;
    background-color: #000;
    border-radius: 50px;
    padding:8px 15px;

    position:absolute;
    right:6%;
    bottom:5%;
}

.sub3_2 a:hover{
    background-color:#2f3792;
    color:white;
    font-weight: bold;
}

/* .sub3_3 */
.sub3_3{
    width:100%;
    padding:8% 0;
    text-align: center;
    margin:0 auto;
    background-color: white;
    margin-bottom:20px;

    position:relative;
}

.sub3_3 h2 b{
    font-family: HeadlineR-HM;
    font-size:1.3rem;
    text-align: center;
    color: #dddaf0; 
}
.sub3_3 h2{
    font-size:1.25rem;
    padding-bottom:1%;
    padding-right:2%;
}

/* .sub3_4 */
.sub3_4{
    width:100%;padding:15% 0 20% 0;
    background-color:white;
    position:relative;
}
.sub3_41{
    width:90%; height:230px;
    margin:0 auto;
    overflow:auto;  
    border:0px solid #f6f7f9;  
}
.sub3_4 ul{
    height: 100%;
    display:flex;
}

.sub3_4 li{
    width:220px;
    height:220px;
    border:1px solid #c2bbbb;
    flex-shrink: 0;
    margin-right:20px;
    position:relative;
}
.wub3_4 li:last-child{
    margin:0;
}


.sub3_4 li a{
    display:block;
    width:100%;
    height:100%;
    font-size:0;    
  
}
.sub3_4 li:nth-child(1) a{
    background: url(../img/보전활동/sub3_4-1.png) no-repeat center center;
}
.sub3_4 li:nth-child(2) a{
    
    background: url(../img/보전활동/sub3_4-2.png) no-repeat center center;
}
.sub3_4 li:nth-child(3) a{
    background: url(../img/보전활동/sub3_4-4.png) no-repeat center center;
}
.sub3_4 li:nth-child(4) a{
    background: url(../img/보전활동/sub3_4-7.png) no-repeat center center;
}
.sub3_4 li:nth-child(5) a{
   
    background: url(../img/보전활동/sub3_4-8.jpg) no-repeat center center;
}
.sub3_4 li:nth-child(6) a{
    background: url(../img/보전활동/sub3_4-6.png) no-repeat center center;
}
.sub3_4 li:nth-child(7) a{
    background: url(../img/보전활동/sub3_4-3.png) no-repeat center center;
}


.sub3_4 li p{
    color:#fff;
    text-align: center;
    padding:2%;
    font-weight: bold;
    position:absolute;
    bottom:0;
    width:100%;
    background-color: rgba(0,0,0,0.7);
}

.sub3_4 li:hover {
    border:2px solid #2f3792;
}

.sub3_4 li:hover p{
    color:#2f3792;
    background-color:#f6f7f9;
}

.ar3-1 a{
    position:absolute;
    top:76%;
    left:50%;
    transform:translateY(-50%);
    width:50px;
    height:50px;
    border-radius: 50px;
    font-size:0;
    transform:scale(0.6);
}

.sub3_4 .ar3-1 a:nth-child(1){
    left:48%;
    transform:translateX(-48%) scale(0.6);
    background:url('../img/btn-prev-8.png') no-repeat center center;

}
.sub3_4 .ar3-1 a:nth-child(2){
    right:20%;
    background:url('../img/btn-top1.png') no-repeat center center;
}

.sub3_5{
    width:100%;
    padding:10% 0;
    text-align: center;
    background-color: white;
    margin:20px 0;
}

.sub3_5 h2 b{
    font-family: HeadlineR-HM;
    font-size:1.3rem;
    text-align:center;
    color: #dddaf0;  

}
.sub3_5 h2{
    font-size:1.25rem;
    padding-bottom:3%;
    padding-right:3%;
}
.sub3_5 p{
    font-size:1rem;
    width:75%;
    padding:0px;
    margin:0 auto;
    text-align: center;
    line-height: 1.7;
}    
.sub3_5 b{
    color:#2f3972;
    font-size:1rem;
}

/* .sub3_6 */
.sub3_6{
    width:100%;
    background-color: white;
    text-align: center;
    padding:40px 0;
    margin-bottom:20px;
}

video{
    margin:0 auto;
    width:90%; height:90%;
    box-sizing:border-box;
}
.sub3_6 figure{
    width:30%;
    margin:0 auto;
}
.sub3_6 figure img{width:100%;}

/* pop-up */
.pop-1{
    position:fixed;
    top:0; left:0;


    padding-top:2%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
    /* display:none; */
}

.pop-1 article{
    width:90%; height:85vh;
    background-color:white;
    margin:3% auto;
    padding:1%;
    margin-top:10%;
    position:relative;
    overflow:auto;
}

.pop-1 h2{
    text-align: left;
    color:#2f3792;
    font-size: 1.25rem;
    padding-left:2%;
    padding-bottom:2%;
}

.pop-1 p{
    font-size: 0.8rem;
    margin:0 auto;
    background-color: #f6f7f9;
    padding:3%;
}

.pop-1 a{
    width:60px; height:60px;
    font-size:0px;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:0;
    right:0; 
    transform:scale(0.4);
}

/* pop-2 */

.pop-2{
    position:fixed;
    top:0; left:0;


    padding-top:2%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
  
    /* display:none; */
}

.pop-2 .pop-close{width:100%; height:100%; position:relative;}

.pop-2 .pop-21{
    width:90%;
    height:80vh;
    background-color: white;

    margin-top:15%;
}
.pop-2 .pop-21 h2{
    color:#2f3792; 
    font-size: 1.25rem;
    padding:5%;
    text-align:center;
}
.pop-2 .pop-21 div{
    display:block;
    justify-content:space-between;
    align-items: center;
    width:90%;
    padding-bottom:5%;

    margin:0 auto;
}
.pop-2 .pop-21 div figure{width:50%;padding-bottom:5%;margin:0 auto;}
.pop-2 .pop-21 div figure img{width:100%;}
.pop-2 .pop-21 div p{
    font-size: 0.8rem;
    width:100%;
    padding-bottom:5%
}
.pop-2 .pop-close a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:-10%;
    right:4%; 
    transform:scale(0.4);
}

/* pop-3 */

.pop-3{
    position:fixed;
    top:0; left:0;


    padding-top:2%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
  
    /* display:none; */
}

.pop-3 .pop-close{width:100%; height:100%; position:relative;}

.pop-3 .pop-31{
    width:90%;
    height:80vh;
    background-color: white;

    margin-top:15%;
}
.pop-3 .pop-31 h2{
    color:#2f3792; 
    font-size: 1.25rem;
    padding:5%;
    text-align:center;
}
.pop-3 .pop-31 div{
    display:block;
    justify-content:space-between;
    align-items: center;
    width:90%;
    padding-bottom:5%;

    margin:0 auto;
}
.pop-3 .pop-31 div figure{width:50%;padding-bottom:5%;margin:0 auto;}
.pop-3 .pop-31 div figure img{width:100%;}
.pop-3 .pop-31 div p{
    font-size: 0.8rem;
    width:100%;
    padding-bottom:5%
}
.pop-3 .pop-close a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:-10%;
    right:4%; 
    transform:scale(0.4);
}

/* pop-4 */

.pop-4{
    position:fixed;
    top:0; left:0;


    padding-top:2%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
  
    /* display:none; */
}

.pop-4 .pop-close{width:100%; height:100%; position:relative;}

.pop-4 .pop-41{
    width:90%;
    height:80vh;
    background-color: white;

    margin-top:15%;
}
.pop-4 .pop-41 h2{
    color:#2f3792; 
    font-size: 1.25rem;
    padding:5%;
    text-align:center;
}
.pop-4 .pop-41 div{
    display:block;
    justify-content:space-between;
    align-items: center;
    width:90%;
    padding-bottom:5%;

    margin:0 auto;
}
.pop-4 .pop-41 div figure{width:50%;padding-bottom:5%;margin:0 auto;}
.pop-4 .pop-41 div figure img{width:100%;}
.pop-4 .pop-41 div p{
    font-size: 0.8rem;
    width:100%;
    padding-bottom:5%
}
.pop-4 .pop-close a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:-10%;
    right:4%; 
    transform:scale(0.4);
}

/* pop-5 */

.pop-5{
    position:fixed;
    top:0; left:0;


    padding-top:2%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
  
    /* display:none; */
}

.pop-5 .pop-close{width:100%; height:100%; position:relative;}

.pop-5 .pop-51{
    width:90%;
    height:80vh;
    background-color: white;

    margin-top:15%;
}
.pop-5 .pop-51 h2{
    color:#2f3792; 
    font-size: 1.25rem;
    padding:5%;
    text-align:center;
}
.pop-5 .pop-51 div{
    display:block;
    justify-content:space-between;
    align-items: center;
    width:90%;
    padding-bottom:5%;

    margin:0 auto;
}
.pop-5 .pop-51 div figure{width:50%;padding-bottom:5%;margin:0 auto;}
.pop-5 .pop-51 div figure img{width:100%;}
.pop-5 .pop-51 div p{
    font-size: 0.8rem;
    width:100%;
    padding-bottom:5%
}
.pop-5 .pop-close a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:-10%;
    right:4%; 
    transform:scale(0.4);
}

/* pop-6 */

.pop-6{
    position:fixed;
    top:0; left:0;


    padding-top:2%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
  
    /* display:none; */
}

.pop-6 .pop-close{width:100%; height:100%; position:relative;}

.pop-6 .pop-61{
    width:90%;
    height:80vh;
    background-color: white;

    margin-top:15%;
}
.pop-6 .pop-61 h2{
    color:#2f3792; 
    font-size: 1.25rem;
    padding:5%;
    text-align:center;
}
.pop-6 .pop-61 div{
    display:block;
    justify-content:space-between;
    align-items: center;
    width:90%;
    padding-bottom:5%;

    margin:0 auto;
}
.pop-6 .pop-61 div figure{width:50%;padding-bottom:5%;margin:0 auto;}
.pop-6 .pop-61 div figure img{width:100%;}
.pop-6 .pop-61 div p{
    font-size: 0.8rem;
    width:100%;
    padding-bottom:5%
}
.pop-6 .pop-close a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:-10%;
    right:4%; 
    transform:scale(0.4);
}

/* pop-7 */

.pop-7{
    position:fixed;
    top:0; left:0;


    padding-top:2%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
  
    /* display:none; */
}

.pop-7 .pop-close{width:100%; height:100%; position:relative;}

.pop-7 .pop-71{
    width:90%;
    height:80vh;
    background-color: white;

    margin-top:15%;
}
.pop-7 .pop-71 h2{
    color:#2f3792; 
    font-size: 1.25rem;
    padding:5%;
    text-align:center;
}
.pop-7 .pop-71 div{
    display:block;
    justify-content:space-between;
    align-items: center;
    width:90%;
    padding-bottom:5%;

    margin:0 auto;
}
.pop-7 .pop-71 div figure{width:50%;padding-bottom:5%;margin:0 auto;}
.pop-7 .pop-71 div figure img{width:100%;}
.pop-7 .pop-71 div p{
    font-size: 0.8rem;
    width:100%;
    padding-bottom:5%
}
.pop-7 .pop-close a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:-10%;
    right:4%; 
    transform:scale(0.4);
}

/* pop-8 */

.pop-8{
    position:fixed;
    top:0; left:0;


    padding-top:2%;
    width:100%; height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 100;
  
    /* display:none; */
}

.pop8 .pop-close{width:100%; height:100%; position:relative;}

.pop-8 .pop-81{
    width:90%;
    height:80vh;
    background-color: white;

    margin-top:15%;
}
.pop-8 .pop-81 h2{
    color:#2f3792; 
    font-size: 1.25rem;
    padding:5%;
    text-align:center;
}
.pop-8 .pop-81 div{
    display:block;
    justify-content:space-between;
    align-items: center;
    width:90%;
    padding-bottom:5%;

    margin:0 auto;
}
.pop-8 .pop-81 div figure{width:50%;padding-bottom:5%;margin:0 auto;}
.pop-8 .pop-81 div figure img{width:100%;}
.pop-8 .pop-81 div p{
    font-size: 0.8rem;
    width:100%;
    padding-bottom:5%
}
.pop-8 .pop-close a{
    width:60px; height:60px;
    font-size:0;
    background:url(../img/btn-close.png) no-repeat center center;
    position:absolute;
    top:-10%;
    right:4%; 
    transform:scale(0.4);
}




}
